@import '../styles/_GrayBubble.scss';

.j-pokeview {

    &-welcome {
        @include horizontal-bar-right;
    }

    &-container > img {
        width: 35%;
        position: absolute;
        left: 6%;
        bottom: 13%;

        @media screen and (max-width: 773px) {
            width: 30%;
            left: 10%;
        }

    }

    &-container > div {
        position: absolute;
        bottom: -7%;
        left: 8%;
        gap: 0.5vw;
        width: 20vw;
        height: 13%;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 773px) {
            left: 13%;
        }
    }
}