@mixin horizontal-bar-left {
    width: 97%;
    height: 33%;
    border-radius: 20em 0 0 20em;

    background: linear-gradient(
    -90deg,
    #e3e3e3 3.01%,
    rgba(227, 227, 227, 0.3) 90%
    );

    position: absolute;
    top: 15%;
    right: 0;
    z-index: 1;

    box-sizing: border-box;
    padding: 99px 3rem;
    text-align: start;
}