.o-pokemon-details{

    &-parent-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        background-color: #fafafa;
        width: 26em;
        top: 14em;
        left: 32em;
        border-radius: 1em 0 0 1em;
        padding: 2em;
        box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &-stats-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.8em 3em;
    }

    &-type-title{
        color: #4b4b4b;
        font-size: 1.4em;
        margin: 0 0 1em 0;
    }
}