.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
  }

  .pokeball{
    height: 5.25em;
    width:  5.25em;
    &.-small {
        height: 3em;
        width:  3em;
    }
    animation: spin 1s infinite;
  }

  @keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

