@import '../styles/GrayBubble';

div.welcome {
  
  @include horizontal-bar-left;

  @import './components/WelcomeTitle/welcomeTitle';

  p {
    color: #646464;
    font-size: 1em;
    font-weight: 500;
  }
}
