.info-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000b3;
    font-weight: bold;
    font-size: 1.2em;
    gap: 1em;
    margin-left: 1em;
    white-space: nowrap;
}
.info-poke{
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

.name-poke{
    text-overflow: ellipsis; 
    text-align: left;  
    overflow:hidden;              
    white-space:nowrap;
    width: 11em;
}